<div class="panel_top pathway">
	<a data-bind="text: storageDisplayName(), click: function () { routeFiles(storageType(), ''); },
	   droppable: { valueFunc: storageDroppable() ? function (oEvent, oUi) { filesDrop(null, oEvent, oUi); } : null }"
	   class="ui-droppable"
	>Personal</a>
	<!-- ko foreach: pathItems() -->
	<!-- ko if: !$parent.bPublic || $index() > 0 -->
	»
	<!-- /ko -->
	<!-- ko if: ($index() !== ($parent.pathItems().length - 1)) || $parent.searchPattern() !== '' --><!-- /ko -->
	<!-- ko if: ($index() === ($parent.pathItems().length - 1)) &&  $parent.searchPattern() === '' -->
	<b data-bind="text: fileName()">ролрол</b>
	<!-- /ko -->
	<!-- /ko -->
	<!-- ko if: searchPattern() !== '' --><!-- /ko -->
</div>
<div class="panel_center unselectable" style="display: flex; overflow: hidden;"
	 data-bind="splitterFlex: {name: 'files_list1', sizes: [50, 50]}, css: {dragover: dragover()}">
	<div id="files_center_panel" style="height: 100%; width: calc(50% - 0px); flex-grow: 1;"
		 data-bind="customScrollbar: {x: false}" class="scroll-wrap"
	>
		<div class="uploader_mask" data-bind="initDom: uploaderArea, css: {'active': bDragActiveComp}">
			<div class="inner"></div>
				
		</div>
		<div class="files_scroll scroll-inner" style="overflow: hidden scroll; margin-right: 0px;">
			<div class="items_list">
				<span class="list_notification" data-bind="visible: fileListInfoText()!==''" style="display: none;">
					<span class="description" data-bind="text: fileListInfoText()"></span>
						
				</span>
				<div class="items_sub_list item_list_table_view">
					<!-- ko foreach: folders -->
						<!-- ko template: {name: '%ModuleName%_FolderView'} --><!-- /ko -->
					<!-- /ko -->
					<!-- ko foreach: filesCollection -->
						<!-- ko template: {name: '%ModuleName%_FileView'} --><!-- /ko -->
					<!-- /ko -->
					<div class="item helper"></div>
				</div>

			</div>
		</div>
		<div class="customscroll-scrollbar customscroll-scrollbar-vertical" style="height: 141.184px; top: 0px;">
			<div></div>
				
		</div>
			
	</div>
		
</div>